body
    font-family 'Raleway', sans-serif
    font-size 20px

input[type="number"]::-webkit-outer-spin-button
input[type="number"]::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0

input[type="number"]
        -moz-appearance textfield

input[type=email]
input[type=password]
input[type=search]
input[type=tel]
input[type=text]
textarea
input[type="number"]
select
input[type="date"]
    font-size 13px
    color #767676
    padding 10px 12px
    background-color #fdfdfd
    border 1px solid #e3e3e3 !important
    outline 0
    border-radius 0px !important
    box-shadow none
    border-radius 0.5em !important

input[type="checkbox"]
    margin-top 0.5em

canvas
    width 35vw !important
    height 63vh !important
    margin auto

.paragraphgraph
    font-size 0.8em

.pull
    position absolute
    opacity 0
    visibility hidden
    -webkit-transition opacity 400ms, visibility 400ms
    transition opacity 400ms, visibility 400ms
.push
    visibility visible
    opacity 1

.backmenucolor
    background-color rgba(0,59,84,0.7) !important
    -webkit-transition opacity 400ms, visibility 400ms
    transition opacity 400ms, visibility 400ms

.container
    width 99vw

.input-group
     width 100%
     text-align left

label
    color #777777
    font-weight lighter
    padding 0.5em 0
    font-size 16px

h1
h2
    font-size 20px
    color #4d4d4d
    text-transform uppercase
    font-weight 400
    letter-spacing 2px
    margin 2em 0

p
     font-size 18px

.helpdiv
     padding 0px

.row
    margin-left 0 !important
    margin-right 0 !important

ul
    list-style none

.navbar-default
    background-color #fff
    .navbar-brand
        img
            height 250%

    .navbar-nav
        li
            margin 0 1em
        .this
            .fa-circle
                color #003B54
        .btn-nav
            background-color transparent
            border none
            padding 0.6em
    .fa-circle
        color #bbb
.titlecrud
    margin-top 1em

.panelleft
    .cargo
        background-color rgba(0,59,84,0.7)
        padding 1em
        h1
            color #fff
        p
            margin 0.8em
            color #e5e5e5
        input
            margin 0.25em 0
    .message
        background url("../img/sede.jpg")
        background-size cover
        color #fff
        height 9em
        .transparent
            p
                margin 0
            background-color rgba(0,59,84,0.7)
            padding 0.2em

.crud
    h1
        margin 0
        margin-top 0.2em
    .table
        td
        th
            font-size 0.7em
            text-align center
        .smallcamp
            width 5em
        .delete
            color red
            border-color #fff
            margin -0.5em
        tr:last-child
            margin-top 3em
    .btn-add
        color #fff
        background-color #003B54
    .list
        .btn
            width 3em
        div
            font-size 0.9em
        .row
            margin-top 0.5em
            margin-bottom 0.5em

.results
    td
    th
        font-size 0.6em !important
.resultstable
    padding 1em 8em
    .mth
        text-align left !important

.next
.forward
    position fixed
    background-color #003B54
    color #fff
    &:hover
        background-color rgba(0,59,84,0.9)
        color #fff

.next
    bottom 2em
    right 2em
.forward
    bottom 2em
    left 26em

.none
    display none

@media(max-width 768px)
    .navbar-header
        display flex
        align-items center
        justify-content center
        img
            height 2em !important
    ul
        margin 0 !important
        display flex
        justify-content space-around

    .jim-table-responsive table thead
        display none

    .jim-table-responsive table tr
        display block
        border-top 2px solid lightgray
        margin-top 5px

    .jim-table-responsive table td
        display block
        text-align right

    .jim-table-responsive table td:before
        content attr(data-label)
        float left
        font-weight 700
    .crud
        h1
            margin-top 1em
        .table
            td
            th
                text-align right
            .smallcamp
                width 100%
    .next
    .forward
        border-radius 1em
        margin-left 85vw
        background-color rgba(0,59,84,0.7)
        padding 0.5em 0.9em
    .resultstable
        padding 0
    canvas
        width 75vw !important
        height 45vh !important
        margin auto
